/* Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.5px;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerGral {
    margin-top: 30px;
}

/* Image */
.img-Hock {
    content: url('/src/images/hockD1.jpg');
    display: grid;
    height: 200px;
    border-radius: 15px;
    object-fit: cover;
    border-start-start-radius: 15px;
    border-start-end-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.containerGral, .img-Hock {
    width: 800px;
}

.container-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

 /* NavList */
.nav-list {
    position: absolute;
    top: -275px;
    right: 15px;
}

.container-3 {
    width: 500px;
    padding: 30px;
    margin-left: 50px;
}

.container-4 {
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/* Title */
h1 {
    color: #000;
    padding: 5px;
    font-size: 30px;
}

/* Subtitle */
h2 {
    text-align: center;
    padding: 15px;
}

/* Logo */
.imgIndex, .imgContact, .imgAbout {
    width: 130px;
    position: absolute;
    background-color: #000;
    border-radius: 10px;
    right: 520px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.imgIndex {
    bottom: -60px;
}

.imgContact {
    bottom: -70px;
}

.imgAbout {
    bottom: -10px;
}

p {
    font-weight: 700;
    font-size: 20px;
}

li {
    font-size: 18px;
    padding-bottom: 25px;
}

/* Links */
a {
    text-decoration: none;
    font-size: 20px;
}

.nav-link:link {
    color: #fff;
}

.nav-link:visited {
    color: #fff;
}

.nav-link:hover {
    color: #000;
}

.active {
    color: #fff;
    font-weight: 600;
    background-color: #70ad47;
}

.nav-link {
    background-color: #4472c4;
}

.active, .nav-link {
    margin: 3px;
    padding: 10px;
    border: 2px solid #000;
}